{{#useGenericResponse}}Response{{/useGenericResponse}}{{! non-generic response: 
}}{{^useGenericResponse}}{{!
}}{{^isResponseFile}}{{{returnType}}}{{/isResponseFile}}{{#isResponseFile}}StreamingOutput{{/isResponseFile}}{{!
}}{{/useGenericResponse}}