openapi: 3.0.0
info:
  title: ClearFlask API
  description: ClearFlask API documentation.
  version: 1.0.0

servers:
  - url: https://client.api.clearflask.com/v1/project/{projectId}
    description: Production server
    variables:
      projectId:
        description: Project ID of the customer
        default: projectId

externalDocs:
  url: https://clearflask.com/docs

components:
  schemas:
    Conf:
      properties:
        name:
          type: string
        logoUrl:
          description: Location of the logo to display.
          type: string
        pages:
          $ref: '#/components/schemas/ConfViewPages'
        ideaGroups:
          type: array
          items:
            $ref: '#/components/schemas/ConfIdeaGroup'
        ideaStatuses:
          type: array
          items:
            $ref: '#/components/schemas/ConfIdeaStatus'
        ideaTags:
          type: array
          items:
            $ref: '#/components/schemas/ConfIdeaTag'
        defaultIdeaStatusId:
          description: >-
            Idea status to assign if any on newly created ideas.
            Can be overriden in group.
          type: string
        settableIdeaTagIdsOnCreate:
          description: >-
            In addition to group level idea tags,
            these tags can also be added by user
            when creating an idea.
          type: array
          items:
            type: string
        supportType:
          description: Can be overriden inside IdeaGroup
          $ref: '#/components/schemas/ConfSupportType'
        creditType:
          type: object
          properties:
            prefix:
              type: string
            suffix:
              type: string
            minUnit:
              type: number
            significantDigits:
              type: integer
          required:
            - minUnit
            - significantDigits
        defaultIdeaTagIds:
          type: array
          items:
            type: string
        defaultIdeaVisibility:
          $ref: '#/components/schemas/ConfIdeaVisibility'
        settableIdeaVisibility:
          type: boolean
      required:
        - name
        - pages
        - ideaGroups
        - ideaStatuses
        - supportType
    ConfIdeaGroup:
      properties:
        id:
          type: string
        parentIdeaGroupId:
          type: string
        name:
          type: string
        color:
          $ref: '#/components/schemas/Color'
        supportType:
          description: If set, overrides project level support type
          $ref: '#/components/schemas/ConfSupportType'
        defaultIdeaStatusId:
          description: >-
            Idea status to assign on newly created ideas.
            If not set, project level default applies.
          type: string
        defaultIdeaTagIds:
          type: array
          items:
            type: string
        defaultIdeaVisibility:
          $ref: '#/components/schemas/ConfIdeaVisibility'
        settableIdeaVisibility:
          type: boolean
        settableIdeaTagIdsOnCreate:
          description: >-
            In addition to project level idea tags,
            these tags can also be added by user
            when creating an idea.
          type: array
          items:
            type: string
      required:
        - id
        - name
    ConfIdeaVisibility:
      type: string
      enum:
        - Public
        - Private
    ConfIdeaStatus:
      properties:
        id:
          type: string
        nextStatusIds:
          type: array
          items:
            type: object
            properties:
              nextStatusId:
                type: string
              transitionText:
                type: string
            required:
              - nextStatusId
        name:
          type: string
        color:
          $ref: '#/components/schemas/Color'
        allowFunding:
          type: boolean
        allowVoting:
          type: boolean
        allowIdeaEdits:
          type: boolean
        allowComments:
          type: boolean
      required:
        - id
        - name
    ConfIdeaTag:
      properties:
        id:
          type: string
        name:
          type: string
        color:
          $ref: '#/components/schemas/Color'
      required:  
        - id
        - name
    Color:
      type: string
      pattern: '#([0-9a-f]{3}){1,2}'
    ConfViewPages:
      type: array
      items:
        $ref: '#/components/schemas/ConfViewPage'
    ConfViewPage:
      description: Defines page content. All parts are optional.
      properties:
        urlName:
          description: >-
            Url path of page. Leave empty for main page.
          type: string
        name:
          description: >-
            Page name visible in menu and in url path.
          type: string
        panels:
          type: array
          items:
            $ref: '#/components/schemas/ConfViewPanel'
        board:
          $ref: '#/components/schemas/ConfViewBoard'
        explorer:
          $ref: '#/components/schemas/ConfViewIdeaExplorer'
      required:
        - urlName
        - name
    ConfViewBoard:
      properties:
        titleOpt:
          type: string
        panels:
          type: array
          items:
            $ref: '#/components/schemas/ConfViewIdeaList'
      required:
        - panels
    ConfViewPanel:
      properties:
        titleOpt:
          type: string
        hideIfEmpty:
          type: boolean
        ideaLimit:
          description: >-
            Optionally set a limit on how many ideas to display.
            Otherwise panel will have infinite scroll.
          type: integer
        ideaList:
          $ref: '#/components/schemas/ConfViewIdeaList'
        enableSearchByGroup:
          type: boolean
        enableSearchByStatus:
          type: boolean
        enableSearchByTag:
          type: boolean
      required:
        - ideaList
    ConfViewIdeaExplorer:
      properties:
        titleOpt:
          type: string
        ideaList:
          $ref: '#/components/schemas/ConfViewIdeaList'
      required:
        - ideaList
    ConfViewIdeaList:
      properties:
        sortBy:
          $ref: '#/components/schemas/SortBy'
        filterIdeaGroupIds:
          type: array
          items:
            type: string
        filterIdeaStatusIds:
          type: array
          items:
            type: string
        filterIdeaTagIds:
          type: array
          items:
            type: string
      required:
        - id
        - sortBy
    ConfSupportType:
      type: string
      enum:
        - FundingOnly
        - VotingOnly
        - FundingVoting
        - None
      default: None
    SortBy:
      type: string
      enum: 
        - Trending
        - Top
        - New
    IdeaSubmission:
      properties:
        title:
          type: string
        description:
          type: string
        groupId:
          type: string
        tagIds:
          type: array
          items:
            type: string
      required:
        - title
        - description
        - groupId
    Idea:
      properties:
        id:
          type: string
        authorUserId:
          type: string
        created:
          type: string
          format: date-time
        title:
          type: string
        description:
          type: string
        groupId:
          type: string
        statusId:
          type: string
        tagIds:
          type: array
          items:
            type: string
        credits:
          type: number
        creditGoal:
          type: number
        funderCount:
          type: integer
        supporterCount:
          type: integer
        myCredits:
          type: number
        mySupport:
          type: boolean
      required:
        - id
        - authorUserId
        - created
        - title
        - description
        - groupId
        - statusId
    Comment:
      properties:
        id:
          type: string
        parentCommentId:
          type: string
        authorUserId:
          type: string
        created:
          type: string
          format: date-time
        comment:
          type: string
      required:
        - id
        - authorUserId
        - created
        - comment
    User:
      properties:
        id:
          type: string
        name:
          type: string
        isAdmin:
          type: boolean
        avatar:
          type: string
      required:
        - id
        - name
    Transaction:
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        amount:
          type: string
        transactionType:
          type: string
          enum:
            - VoteIdea
            - RefundIdea
            - Purchase
            - Refund
        targetId:
          description: Only set if an Idea is involved
          type: string
        extraDescription:
          type: string
      required:
        - id
        - created
        - amount
        - transactionType
    VoteIdeaResult:
      type: object
      properties:
        idea:
          $ref: '#/components/schemas/Idea'
        transaction:
          $ref: '#/components/schemas/Transaction'
      required:
        - idea
    ErrorResponse:
      type: object
      properties:
        userFacingMessage:
          type: string
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

paths:
  /config:
    get:
      operationId: getConfig
      tags:
        - Config
      summary: Get configuration
      description: Fetches complete configuration for this app/widget.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conf'
  /ideas:
    get:
      operationId: getIdeas
      tags:
        - Idea
      summary: Fetch list of ideas based on criteria
      description: >-
        Fetch list of ideas based on following criteria.
        Supports sorting, tag filtering and search.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          required: true
          description: Limit number of ideas to retrieve. Max 50
        - in: query
          name: sortBy
          schema:
            $ref: '#/components/schemas/SortBy'
          required: true
          description: Sort order
        - in: query
          name: filterIdeaStatusIds
          schema:
            type: array
            items:
              type: string
          description: Filters by status
        - in: query
          name: filterIdeaGroupIds
          schema:
            type: array
            items:
              type: string
          description: Filters by board
        - in: query
          name: filterIdeaTagIds
          schema:
            type: array
            items:
              type: string
          description: Filters by tags
        - in: query
          name: search
          schema:
            type: string
          description: Search string
        - in: query
          name: cursor
          schema:
            type: string
          description: Cursor to fetch next set of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                title: Ideas
                type: object
                properties:
                  ideas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Idea'
                  cursor:
                    type: string
                required:
                  - ideas
  /idea:
    get:
      operationId: getIdea
      tags:
        - Idea
      summary: Get Idea
      parameters:
        - in: query
          name: ideaId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Idea'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createIdea
      tags:
        - Idea
      summary: Submit new idea
      requestBody:
        required: true
        content:
          application/json:
              schema:
                title: CreateIdeaBody
                type: object
                properties:
                  idea:
                    $ref: '#/components/schemas/IdeaSubmission'
                  creditsToFund:
                    type: integer
                required:
                  - idea
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Idea'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteIdea
      tags:
        - Idea
      summary: Delete idea
      parameters:
        - in: query
          name: ideaId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
        '404':
          $ref: '#/components/responses/NotFound'
  /comment:
    get:
      operationId: getComments
      tags:
        - Comment
      summary: Get Comments
      parameters:
        - in: query
          name: ideaId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '404':
          $ref: '#/components/responses/NotFound'
  /vote:
    post:
      operationId: voteIdea
      tags:
        - Credit
      summary: Vote Idea
      description: Submit credits or support for idea
      parameters:
        - in: query
          name: ideaId
          schema:
            type: string
          required: true
          description: ID of the idea
        - in: query
          name: creditAmountOpt
          schema:
            type: integer
          description: Amount of credits to fund. If not set, only support is given.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteIdeaResult'
        '404':
          $ref: '#/components/responses/NotFound'
  /user:
    get:
      operationId: getUser
      tags:
        - User
      summary: Get user
      description: Fetches user information.
      parameters:
        - name: userId
          in: query
          required: true
          description: The ID of the user to return.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
  /transactions:
    get:
      operationId: getTransactions
      tags:
        - Credit
      summary: Get transaction history
      description: Get detailed history of all transactions for user
      parameters:
        - in: query
          name: userId
          schema:
            type: string
          required: true
          description: ID of the user
        - in: query
          name: cursor
          schema:
            type: string
          description: Cursor to fetch next set of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'
