{{- if .Values.connect.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "clearflask.connect.fullname" . }}
  labels:
    {{- include "clearflask.connect.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "clearflask.connect.fullname" . }}
  minReplicas: {{ .Values.connect.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.connect.autoscaling.maxReplicas }}
  metrics:
    {{- if .Values.connect.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.connect.autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 180
      policies:
        - type: Percent
          value: 50
          periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 30
      policies:
        - type: Percent
          value: 200
          periodSeconds: 15
{{- end }}
