/* tslint:disable */
// eslint-disable-next-line no-unused-vars
import { Configuration } from '../runtime';
{{#apiInfo}}
{{#apis}}
{{#operations}}
// eslint-disable-next-line no-unused-vars
import * as {{ classname }} from './{{ classFilename }}';
{{/operations}}
{{/apis}}
{{/apiInfo}}

{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from './{{ classFilename }}';
{{/operations}}
{{/apis}}
{{/apiInfo}}

export interface ApiInterface extends {{#apiInfo}}{{#apis}}{{#operations}}{{classname}}.{{classname}}Interface{{^-last}}, {{/-last}}{{/operations}}{{/apis}}{{/apiInfo}} {};
export class Api {
    apis: any

    constructor(configuration?:Configuration, apiOverride?:ApiInterface) {
        this.apis = {};{{#apiInfo}}{{#apis}}{{#operations}}
        this.apis.{{ classFilename }} = apiOverride || new {{classname}}.{{classname}}(configuration);{{/operations}}{{/apis}}{{/apiInfo}}
    }{{#apiInfo}}{{#apis}}{{#operations}}

    get{{ classFilename }}():{{classname}}.{{classname}} {
        return this.apis.{{ classFilename }};
    }{{/operations}}{{/apis}}{{/apiInfo}}
};
