## SPDX-FileCopyrightText: 2019-2022 Matus Faro <matus@smotana.com>
## SPDX-License-Identifier: Apache-2.0
version: '3.8'
services:
  clearflask-connect:
    image: 'clearflask/clearflask-connect:latest'
    depends_on:
      - clearflask-server
    ports:
      - 80:9080
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      - NODE_ENV=production
      - ENV=local
    volumes:
      - ./connect/connect.config.json:/opt/clearflask/connect.config.json
  clearflask-server:
    image: 'clearflask/clearflask-server:latest'
    environment:
      - CLEARFLASK_ENVIRONMENT=DEVELOPMENT_LOCAL
      - JAVA_OPTS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:9999"
    depends_on:
      - killbill-engine
      - localstack
      - elasticsearch
      - mysql-db
    volumes:
      - ./server/logback-dev.xml:/usr/local/tomcat/webapps/ROOT/WEB-INF/classes/logback.xml
      - ./server/logging-dev.properties:/usr/local/tomcat/conf/logging.properties
      - ./server/config-local.cfg:/opt/clearflask/config-local.cfg
    ports:
      - 8080:8080
      # JMX
      - 9950:9950
      - 9951:9951
      # Remote debugging
      - 9999:9999
  nginx:
    image: nginx
    depends_on:
      - clearflask-connect
    ports:
      - 443:8443
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
  killbill-engine:
    image: killbill/killbill:0.22.20
    depends_on:
      - mysql-db
    ports:
      - 8082:8080
    environment:
      - KILLBILL_DAO_URL=jdbc:mysql://mysql-db:3306/killbill
      - KILLBILL_DAO_USER=root
      - KILLBILL_DAO_PASSWORD=killbill
      - KILLBILL_SERVER_TEST_MODE=true
      - KILLBILL_NOTIFICATIONQ_ANALYTICS_TABLE_NAME=analytics_notifications
      - KILLBILL_NOTIFICATIONQ_ANALYTICS_HISTORY_TABLE_NAME=analytics_notifications_history
    volumes:
      - ./killbill-engine/killbill-setenv2.sh:/var/lib/tomcat/bin/setenv2.sh
      - ./killbill-engine/logging-dev.properties:/var/lib/tomcat/conf/logging.properties
      - ./killbill-engine/logback-killbill-engine.xml:/var/lib/killbill/logback.xml
      - ./killbill-engine/killbill.sh:/var/lib/killbill/killbill.sh
      - ./killbill-engine/autoload:/var/lib/killbill/bundles/autoload
  killbill-kaui:
    profiles:
      - with-kaui
    image: killbill/kaui:2.0.5
    depends_on:
      - killbill-engine
      - mysql-db
    ports:
      - 8081:8080
    environment:
      - KAUI_CONFIG_DAO_URL=jdbc:mysql://mysql-db:3306/kaui
      - KAUI_CONFIG_DAO_USER=root
      - KAUI_CONFIG_DAO_PASSWORD=killbill
      - KAUI_KILLBILL_URL=http://killbill-engine:8080
  mysql-db:
    image: mysql:5.7
    platform: linux/amd64
    command:
      - 'mysqld'
      - '--sql-mode=IGNORE_SPACE'
      - '--explicit-defaults-for-timestamp'
      - '--secure-file-priv=/tmp'
    volumes:
      - ./killbill-db:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=killbill
  elasticsearch:
    profiles:
      - with-elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.0
    ports:
      - 9200:9200
    environment:
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
      - discovery.type=single-node
    mem_limit: 4g
  kibana:
    profiles:
      - with-kibana
    image: docker.elastic.co/kibana/kibana:7.10.0
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
  localstack:
    image: localstack/localstack
    privileged: true
    ports:
      - 4566:4566
      - 4571:4571
      - 4582:8080
    environment:
      - DEFAULT_REGION=us-east-1
      - LOCALSTACK_HOSTNAME=localhost
      - HOSTNAME_EXTERNAL=localstack
      - SERVICES=dynamodb,route53,ses,s3
      - LS_LOG=debug
      - START_WEB=1
      - USE_SSL=0
      - FORCE_NONINTERACTIVE=true
