<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true" scanPeriod="60 seconds">
    <jmxConfigurator/>

    <property name="logs-folder" value="${catalina.base}/logs"/>

    <!-- Enable logging during shutdown https://stackoverflow.com/questions/37557754/logging-from-servlet-context-destroyed-event -->
    <context-param>
        <param-name>logbackDisableServletContainerInitializer</param-name>
        <param-value>true</param-value>
    </context-param>

    <contextName>${appName}</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logs-folder}/clearflask.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logs-folder}/clearflask.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL_SES" class="com.smotana.clearflask.logging.EmailSesAppender">
        <To>ops@clearflask.com</To>
        <From>no-reply@clearflask.com</From>
        <Subject>[ClearFlask Logs] [WebServer] ${HOSTNAME}</Subject>
        <evaluator class="com.smotana.clearflask.logging.CounterBasedEvaluator">
            <param name="CounterLimit" value="10"/>
        </evaluator>
        <layout class="com.smotana.clearflask.logging.HTMLLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,UTC}%level%logger%thread%msg</pattern>
        </layout>
    </appender>

    <appender name="ASYNC_EMAIL_SES" class="ch.qos.logback.classic.AsyncAppender">
        <param name="IncludeCallerData" value="true"/>
        <appender-ref ref="EMAIL_SES"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="com.kik.config.ice" level="INFO"/>
    <logger name="org.reflections.Reflections" level="INFO"/>

    <root level="INFO">
        <!-- Log to STDERR also for docker to pick up -->
        <appender-ref ref="STDERR"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC_EMAIL_SES"/>
    </root>

</configuration>
