<?xml version="1.0" encoding="UTF-8"?>

<configuration
        debug="true" scan="true" scanPeriod="60 seconds"
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
    <jmxConfigurator/>

    <property name="logs-folder" value="${catalina.base}/logs"/>

    <contextName>ClearFlask</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs-folder}/clearflask.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs-folder}/clearflask.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="EMAIL_SES" class="com.smotana.clearflask.logging.EmailSesAppender">
        <To>ops@clearflask.com</To>
        <From>no-reply@clearflask.com</From>
        <Subject>[ClearFlask Logs] [WebServer] ${HOSTNAME}</Subject>
        <evaluator class="com.smotana.clearflask.logging.RateLimitBasedEvaluator">
            <param name="OncePerSeconds" value="600"/>
        </evaluator>
        <layout class="com.smotana.clearflask.logging.HTMLLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,UTC}%level%logger%thread%msg</pattern>
        </layout>
    </appender>
    <appender name="ASYNC_EMAIL_SES" class="ch.qos.logback.classic.AsyncAppender">
        <param name="IncludeCallerData" value="true"/>
        <appender-ref ref="EMAIL_SES"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>https://600460a790e34b3e884ebe25ed26944d@o934836.ingest.sentry.io/5884409</dsn>
        </options>
        <minimumBreadcrumbLevel>TRACE</minimumBreadcrumbLevel>
        <minimumEventLevel>WARN</minimumEventLevel>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="com.kik.config.ice" level="INFO"/>
    <logger name="org.reflections.Reflections" level="INFO"/>
    <logger name="org.jooq" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC_EMAIL_SES"/>
        <appender-ref ref="SENTRY"/>
    </root>

</configuration>
