html {
  font-family: -apple-system-body, BlinkMacSystemFont, SFUI, HelveticaNeue,
    Helvetica, Arial, sans-serif;
  font-family: Roboto, -apple-system-body, BlinkMacSystemFont, SFUI,
    HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
  background: transparent;
  -webkit-appearance: none;
}
