html {
  font-family: -apple-system-body, BlinkMacSystemFont, SFUI, HelveticaNeue,
    Helvetica, Arial, sans-serif;
  font-family: Roboto, -apple-system-body, BlinkMacSystemFont, SFUI,
    HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  /* Prevent scrollbar from moving centered content around; use scrollbar-gutter when it comes out */
  min-width: 100vw;
  overflow-x: hidden;
}

a {
  color: currentColor;
}
