

html {
  font-family: -apple-system-body,BlinkMacSystemFont,SFUI,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-family: Roboto,-apple-system-body,BlinkMacSystemFont,SFUI,HelveticaNeue,Helvetica,Arial,sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;

  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  max-width: 0px;
  overflow: hidden;
  max-height: 0px;
  background: transparent;
  -webkit-appearance: none;
}
