openapi: 3.0.0
info:
  title: ClearFlask Admin API
  description: ClearFlask API documentation.
  version: 1.0.0

servers:
- url: https://clearflask.com/api/v1

paths:
  /support/message:
    $ref: 'api-account.yaml#/~1support~1message'
  /admin/legal:
    $ref: 'api-account.yaml#/~1admin~1legal'
  /admin/plan:
    $ref: 'api-account.yaml#/~1admin~1plan'
  /admin/account/signup:
    $ref: 'api-account.yaml#/~1admin~1account~1signup'
  /admin/account/bind:
    $ref: 'api-account.yaml#/~1admin~1account~1bind'
  /admin/account/login:
    $ref: 'api-account.yaml#/~1admin~1account~1login'
  /admin/account/noop:
    $ref: 'api-account.yaml#/~1admin~1account~1noop'
  /superadmin/account/loginas:
    $ref: 'api-account.yaml#/~1superadmin~1account~1loginas'
  /superadmin/accountsearch:
    $ref: 'api-account.yaml#/~1superadmin~1accountsearch'
  /admin/account/logout:
    $ref: 'api-account.yaml#/~1admin~1account~1logout'
  /admin/account/update:
    $ref: 'api-account.yaml#/~1admin~1account~1update'
  /admin/account/updateSuper:
    $ref: 'api-account.yaml#/~1admin~1account~1updateSuper'
  /admin/account/billing:
    $ref: 'api-account.yaml#/~1admin~1account~1billing'
  /admin/account/billing/invoices:
    $ref: 'api-account.yaml#/~1admin~1account~1billing~1invoices'
  /admin/account/billing/invoice/{invoiceId}:
    $ref: 'api-account.yaml#/~1admin~1account~1billing~1invoice~1{invoiceId}'
  /admin/account/delete:
    $ref: 'api-account.yaml#/~1admin~1account~1delete'
  /project/{projectId}/admin/subscription/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1subscription~1idea'
  /project/{projectId}/admin/idea/search:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1search'
  /project/{projectId}/admin/idea/category/{categoryId}/aggregate:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1category~1{categoryId}~1aggregate'
  /project/{projectId}/admin/idea/histogram:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1histogram'
  /project/{projectId}/admin/idea/draft:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1draft'
  /project/{projectId}/admin/idea/draft/search:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1draft~1search'
  /project/{projectId}/admin/idea/draft/{draftId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1draft~1{draftId}'
  /project/{projectId}/admin/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea'
  /project/{projectId}/admin/idea/{ideaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}'
  /project/{projectId}/admin/idea/{ideaId}/merge/{parentIdeaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1merge~1{parentIdeaId}'
  /project/{projectId}/admin/idea/{ideaId}/unmerge/{parentIdeaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1unmerge~1{parentIdeaId}'
  /project/{projectId}/admin/idea/{ideaId}/link/{parentIdeaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1link~1{parentIdeaId}'
  /project/{projectId}/admin/idea/{ideaId}/unlink/{parentIdeaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1unlink~1{parentIdeaId}'
  /project/{projectId}/admin/subscription/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1subscription~1user'
  /project/{projectId}/admin/usersearch:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1usersearch'
  /project/{projectId}/admin/user/histogram:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user~1histogram'
  /project/{projectId}/admin/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user'
  /project/{projectId}/admin/user/{userId}:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user~1{userId}'
  /project/{projectId}/admin/subscription/comment:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1subscription~1comment'
  /project/{projectId}/admin/commentsearch:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1commentsearch'
  /project/{projectId}/admin/comment/histogram:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1comment~1histogram'
  /project/{projectId}/admin/idea/{ideaId}/comment/{commentId}:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1comment~1{commentId}'
  /project/{projectId}/admin/transaction/search:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1admin~1transaction~1search'
  /project/{projectId}/admin/credit/income:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1admin~1credit~1income'
  /project/config/admin:
    $ref: 'api-project.yaml#/~1project~1config~1admin'
  /project/admin:
    $ref: 'api-project.yaml#/~1project~1admin'
  /project/{projectId}/admin:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin'
  /project/{projectId}/admin/config:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1config'
  /project/{projectId}/admin/import/post:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1import~1post'
  /project/{projectId}/admin/export:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1export'
  /project/{projectId}/admin/content/uploadAs:
    $ref: 'api-content.yaml#/~1project~1{projectId}~1admin~1content~1uploadAs'
