openapi: 3.0.0
info:
  title: ClearFlask Admin API
  description: ClearFlask API documentation.
  version: 1.0.0

servers:
- url: https://clearflask.com/api/v1

externalDocs:
  url: https://clearflask.com/docs

paths:
  /support/message:
    $ref: 'api-account.yaml#/~1support~1message'
  /admin/legal:
    $ref: 'api-account.yaml#/~1admin~1legal'
  /admin/plan:
    $ref: 'api-account.yaml#/~1admin~1plan'
  /admin/account/signup:
    $ref: 'api-account.yaml#/~1admin~1account~1signup'
  /admin/account/bind:
    $ref: 'api-account.yaml#/~1admin~1account~1bind'
  /admin/account/login:
    $ref: 'api-account.yaml#/~1admin~1account~1login'
  /admin/account/logout:
    $ref: 'api-account.yaml#/~1admin~1account~1logout'
  /admin/account/update:
    $ref: 'api-account.yaml#/~1admin~1account~1update'
  /admin/account/billing:
    $ref: 'api-account.yaml#/~1admin~1account~1billing'
  /admin/account/billing/history:
    $ref: 'api-account.yaml#/~1admin~1account~1billing~1history'
  /project/{projectId}/admin/idea/search:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1search'
  /project/{projectId}/admin/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea'
  /project/{projectId}/admin/idea/{ideaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}'
  /project/{projectId}/admin/usersearch:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1usersearch'
  /project/{projectId}/admin/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user'
  /project/{projectId}/admin/user/{userId}:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user~1{userId}'
  /project/{projectId}/admin/idea/{ideaId}/comment/{commentId}:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1comment~1{commentId}'
  /project/{projectId}/admin/transaction/search:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1admin~1transaction~1search'
  /project/config/admin:
    $ref: 'api-project.yaml#/~1project~1config~1admin'
  /project/admin:
    $ref: 'api-project.yaml#/~1project~1admin'
  /project/{projectId}/admin/config:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1config'
