## SPDX-FileCopyrightText: 2019-2021 Matus Faro <matus@smotana.com>
## SPDX-License-Identifier: AGPL-3.0-only
openapi: 3.0.0
info:
  title: ClearFlask Client API
  description: ClearFlask API documentation.
  version: 1.0.0

servers:
- url: https://clearflask.com/api/v1

components:
  schemas:
    Cursor:
      description: Cursor to fetch next set of results.
      type: string
    ErrorResponse:
      type: object
      properties:
        userFacingMessage:
          type: string
  responses:
    Ok:
      description: >-
        HTTP 200 Ok
        Request was successful. No response value supplied.
    NotFound:
      description: >-
        HTTP 404 Not Found
        The specified resource was not found.
      content:
        application/json:
          schema:
            $ref: 'api-client.yaml#/components/schemas/ErrorResponse'
    Forbidden:
      description: >-
        HTTP 403 Forbidden
        Use when access is not allowed to a particular resource
        NotFound is also acceptable when the existence of a
        resource must be protected.
      content:
        application/json:
          schema:
            $ref: 'api-client.yaml#/components/schemas/ErrorResponse'
    Unauthorized:
      description: >-
        HTTP 401 Unauthorized
        Used during login/bind to indicate the authentication was
        not successful.
      content:
        application/json:
          schema:
            $ref: 'api-client.yaml#/components/schemas/ErrorResponse'
    ConfigChanged:
      description: >-
        HTTP 412 Precondition Failed
        Use only when client needs to reload the App Configuration.
        In a case where a request does not make sense based on App
        Configuration. Client is expected to reload immediately.
      content:
        application/json:
          schema:
            $ref: 'api-client.yaml#/components/schemas/ErrorResponse'

paths:
  /project/{projectId}/ideasearch:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1ideasearch'
  /project/{projectId}/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1idea'
  /project/{projectId}/ideagetall:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1ideagetall'
  /project/{projectId}/idea/{ideaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1idea~1{ideaId}'
  /project/{projectId}/idea/{ideaId}/merge/{parentIdeaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1merge~1{parentIdeaId}'
  /project/{projectId}/bind:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1bind'
  /project/{projectId}/forgot:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1forgot'
  /project/{projectId}/login:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1login'
  /project/{projectId}/logout:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1logout'
  /project/{projectId}/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1user'
  /project/{projectId}/user/{userId}:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1user~1{userId}'
  /project/{projectId}/commentsearch:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1commentsearch'
  /project/{projectId}/idea/{ideaId}/commentsearch:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1commentsearch'
  /project/{projectId}/idea/{ideaId}/comment:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1comment'
  /project/{projectId}/idea/{ideaId}/comment/{commentId}:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1comment~1{commentId}'
  /project/{projectId}/user/{userId}/transactionsearch:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1user~1{userId}~1transactionsearch'
  /project/{projectId}/vote/ideas:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1vote~1ideas'
  /project/{projectId}/vote/idea/{ideaId}:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1vote~1idea~1{ideaId}'
  /project/{projectId}/vote/comments:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1vote~1comments'
  /project/{projectId}/idea/{ideaId}/vote/comment/{commentId}:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1vote~1comment~1{commentId}'
  /project/{projectId}/subscribe/category/{categoryId}:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1subscribe~1category~1{categoryId}'
  /slug/{slug}/bind/configAndUser:
    $ref: 'api-project.yaml#/~1slug~1{slug}~1bind~1configAndUser'
  /slug/{slug}/bind/config:
    $ref: 'api-project.yaml#/~1slug~1{slug}~1bind~1config'
  /slug/{slug}/bind/user:
    $ref: 'api-project.yaml#/~1slug~1{slug}~1bind~1user'
  /project/{projectId}/notificationsearch:
    $ref: 'api-notification.yaml#/~1project~1{projectId}~1notificationsearch'
  /project/{projectId}/notificationclear:
    $ref: 'api-notification.yaml#/~1project~1{projectId}~1notificationclear'
  /project/{projectId}/notificationclear/{notificationId}/clear:
    $ref: 'api-notification.yaml#/~1project~1{projectId}~1notificationclear~1{notificationId}'
  /project/{projectId}/content/upload:
    $ref: 'api-content.yaml#/~1project~1{projectId}~1content~1upload'
