openapi: 3.0.0
info:
  title: ClearFlask API
  description: ClearFlask API documentation.
  version: 1.0.0

servers:
- url: https://clearflask.com/api/v1

paths:
  # api-client.yaml
  /project/{projectId}/ideasearch:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1ideasearch'
  /project/{projectId}/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1idea'
  /project/{projectId}/idea/{ideaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1idea~1{ideaId}'
  /project/{projectId}/bind:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1bind'
  /project/{projectId}/forgot:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1forgot'
  /project/{projectId}/login:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1login'
  /project/{projectId}/logout:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1logout'
  /project/{projectId}/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1user'
  /project/{projectId}/user/{userId}:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1user~1{userId}'
  /project/{projectId}/commentsearch:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1commentsearch'
  /project/{projectId}/idea/{ideaId}/commentsearch:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1commentsearch'
  /project/{projectId}/idea/{ideaId}/comment:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1comment'
  /project/{projectId}/idea/{ideaId}/comment/{commentId}:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1comment~1{commentId}'
  /project/{projectId}/user/{userId}/transactionsearch:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1user~1{userId}~1transactionsearch'
  /project/{projectId}/vote/ideas:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1vote~1ideas'
  /project/{projectId}/vote/idea/{ideaId}:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1vote~1idea~1{ideaId}'
  /project/{projectId}/vote/comments:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1vote~1comments'
  /project/{projectId}/idea/{ideaId}/vote/comment/{commentId}:
    $ref: 'api-vote.yaml#/~1project~1{projectId}~1idea~1{ideaId}~1vote~1comment~1{commentId}'
  /slug/{slug}/bind/configAndUser:
    $ref: 'api-project.yaml#/~1slug~1{slug}~1bind~1configAndUser'
  /slug/{slug}/bind/config:
    $ref: 'api-project.yaml#/~1slug~1{slug}~1bind~1config'
  /slug/{slug}/bind/user:
    $ref: 'api-project.yaml#/~1slug~1{slug}~1bind~1user'
  /project/{projectId}/notificationsearch:
    $ref: 'api-notification.yaml#/~1project~1{projectId}~1notificationsearch'
  /project/{projectId}/notificationclear:
    $ref: 'api-notification.yaml#/~1project~1{projectId}~1notificationclear'
  /project/{projectId}/notificationclear/{notificationId}/clear:
    $ref: 'api-notification.yaml#/~1project~1{projectId}~1notificationclear~1{notificationId}'
  # api-admin.yaml
  /support/message:
    $ref: 'api-account.yaml#/~1support~1message'
  /admin/legal:
    $ref: 'api-account.yaml#/~1admin~1legal'
  /admin/plan:
    $ref: 'api-account.yaml#/~1admin~1plan'
  /admin/account/signup:
    $ref: 'api-account.yaml#/~1admin~1account~1signup'
  /admin/account/bind:
    $ref: 'api-account.yaml#/~1admin~1account~1bind'
  /admin/account/login:
    $ref: 'api-account.yaml#/~1admin~1account~1login'
  /admin/account/noop:
    $ref: 'api-account.yaml#/~1admin~1account~1noop'
  /superadmin/account/loginas:
    $ref: 'api-account.yaml#/~1superadmin~1account~1loginas'
  /superadmin/accountsearch:
    $ref: 'api-account.yaml#/~1superadmin~1accountsearch'
  /admin/account/logout:
    $ref: 'api-account.yaml#/~1admin~1account~1logout'
  /admin/account/update:
    $ref: 'api-account.yaml#/~1admin~1account~1update'
  /admin/account/updateSuper:
    $ref: 'api-account.yaml#/~1admin~1account~1updateSuper'
  /admin/account/billing:
    $ref: 'api-account.yaml#/~1admin~1account~1billing'
  /admin/account/billing/invoices:
    $ref: 'api-account.yaml#/~1admin~1account~1billing~1invoices'
  /admin/account/billing/invoice/{invoiceId}:
    $ref: 'api-account.yaml#/~1admin~1account~1billing~1invoice~1{invoiceId}'
  /admin/account/delete:
    $ref: 'api-account.yaml#/~1admin~1account~1delete'
  /project/{projectId}/admin/subscription/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1subscription~1idea'
  /project/{projectId}/admin/idea/search:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1search'
  /project/{projectId}/admin/idea/category/{categoryId}/aggregate:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1category~1{categoryId}~1aggregate'
  /project/{projectId}/admin/idea:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea'
  /project/{projectId}/admin/idea/{ideaId}:
    $ref: 'api-idea.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}'
  /project/{projectId}/admin/subscription/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1subscription~1user'
  /project/{projectId}/admin/usersearch:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1usersearch'
  /project/{projectId}/admin/user:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user'
  /project/{projectId}/admin/login/user/{userId}:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1login~1user~1{userId}'
  /project/{projectId}/admin/user/{userId}:
    $ref: 'api-user.yaml#/~1project~1{projectId}~1admin~1user~1{userId}'
  /project/{projectId}/admin/subscription/comment:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1subscription~1comment'
  /project/{projectId}/admin/commentsearch:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1commentsearch'
  /project/{projectId}/admin/idea/{ideaId}/comment/{commentId}:
    $ref: 'api-comment.yaml#/~1project~1{projectId}~1admin~1idea~1{ideaId}~1comment~1{commentId}'
  /project/{projectId}/admin/transaction/search:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1admin~1transaction~1search'
  /project/{projectId}/admin/credit/income:
    $ref: 'api-credit.yaml#/~1project~1{projectId}~1admin~1credit~1income'
  /project/config/admin:
    $ref: 'api-project.yaml#/~1project~1config~1admin'
  /project/admin:
    $ref: 'api-project.yaml#/~1project~1admin'
  /project/{projectId}/admin:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin'
  /project/{projectId}/admin/config:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1config'
  /project/{projectId}/admin/import/post:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1import~1post'
  /project/{projectId}/admin/export:
    $ref: 'api-project.yaml#/~1project~1{projectId}~1admin~1export'
  # api-connect.yaml
  /connect/account/keypair:
    $ref: 'api-sni.yaml#/~1connect~1account~1keypair'
  /connect/cert/keypair:
    $ref: 'api-sni.yaml#/~1connect~1cert~1keypair'
  /connect/cert/challenge:
    $ref: 'api-sni.yaml#/~1connect~1cert~1challenge'
  /connect/cert:
    $ref: 'api-sni.yaml#/~1connect~1cert'
