<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true" scanPeriod="60 seconds">
    <jmxConfigurator/>

    <property name="logs-folder" value="${catalina.base}/logs"/>

    <contextName>${appName}</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="com.kik.config.ice" level="INFO"/>
    <logger name="org.reflections.Reflections" level="INFO"/>
    <logger name="com.smotana" level="trace"/>
    <logger name="org.jooq.Constants" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
